<div class="container">
  <h1>Welcome to the Most Basic Notes App in Existence!</h1>
  <p><i>The accuracy of this statement is debatable.</i></p>

<form action="/" method="get">
  <input type="submit" value="Reset the form!">
</form>

<form action="/save" method="post">
  Title: <input type="text" size="100" name="title" value=<%=@edit.title%> placeholder="Enter your post title here">
  Content: <textarea name="content" value=<%=@edit.content%> placeholder="Enter your note here"></textarea>
  <br>
  <input type="hidden" name="id" value=<%=@edit.id%>>
  <input type="submit" value="Post it!">
</form>

</div>

<div class="container">
  <h2>Current Notes:</h2>
  <br>
  <% counter = 0 %>
  <% @notes.each do |note| %>
    <% counter += 1 %>
    <h3><%= "#{counter}. #{note.title}" %></h3>
    <p><%= note.content %></p>
    <form action="/" method="get">
      <input type="hidden" value=<%=note.id%>
      <input type="submit" value="Update">
    </form>
    <form action="/delete" method="post">
      <input type="hidden" value=<%=note.id%>
      <input type="submit" value="Delete">
    </form>

</div>

